// Mobile: 375px
//Desktop: 1440px

// Colors

// Primary

$gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

// Neutral

$grayishBlue: hsl(229, 7%, 55%);
$paleBlue: hsl(243, 100%, 93%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

// Typography

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$raleway400: 'Raleway' 400;
$raleway700: 'Raleway' 700;

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: $veryDarkBlue;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

h3, span{
    color: #fff;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main div{
    width: 40%;
    background: $darkBlue;
    padding: 2em;
    border-radius: 1em;
}

.actions{
    border-top-right-radius: 4em;
    height: 200px;
}

.storage{
    height: 150px;

}

.attribution{
    margin-top: auto;
}