// Mobile: 375px
//Desktop: 1440px

// Colors

// Primary

$gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

// Neutral

$grayishBlue: hsl(229, 7%, 55%);
$paleBlue: hsl(243, 100%, 93%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

// Typography

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$raleway400: 'Raleway' 400;
$raleway700: 'Raleway' 700;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background: $veryDarkBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom ;
}

h3, span{
    color: #fff;
}

main{
    align-self: center;
    min-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

 
}

.actions, .storage{
    background: $darkBlue;
    padding: 2em;
    border-radius: 1em;
    margin: 1em;
    margin-top: auto;
}


.actions{
    width: 35%;
    border-top-right-radius: 8em;
    height: 200px;
    padding: 4em;
}

.menu{
    display: flex;
    margin-top: 2em;
    div{
        background: $veryDarkBlue;
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.storage{
    width: 60%;
    height: 170px;
}

.fondo-barra{
    border-radius: 1em;
    background: $veryDarkBlue;
    margin-top: 1em;
    height: 1.8em;
    display: flex;
    align-items: center;
    .barra{
        width: 80%;
        border-radius: 1em;
        height: 1.5em;
        background-image: linear-gradient(left, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
        display: flex;
        align-items: center;
        .circle{
            width: 1.3em;
            height: 1.3em;
            border-radius: 50%;
            background: #fff;
            margin-left: auto;
            margin-right: 3px;
        }
    }
}


.minmax{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.attribution{

    color: #fff;
    display: block
}